/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$main: #252529;
$secondary: #8b8b9f;
$highlight:	#73e298;
$white: #FFFFFF;

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}



* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
	border: 1px;
}



h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#top_header {
	padding: 1.5em 0;
	border-bottom: shadow;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.20em;
		font-weight: 700;
		letter-spacing: 0.05em;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}
	#main_nav {
		float: right;
		font-size: 1em;
		padding-top: 1em;
		a {
			color: $secondary;
			text-decoration: none;
			margin-left: 1em;
		}
	}
}

.menu {
	display: none;
}

#main_footer {
	padding: 2.5em 0;
	text-align: center;
	.logo {
	   text-transform: uppercase;
	   font-size: 1.15em;
	   font-weight: 700;
	   letter-spacing: 0.05em;
	}

	.logo span {
	   font-weight: 300;
	   color: $highlight;
	}
	.copyright{
	    margin: 0;
	    color: $secondary;
	    font-size: .85em;
	}
	.links {
	   display: inline;
	   a {
	      color: $secondary;
	      font-size: .85em;
	      text-decoration: none;
	      margin: 0 .5em;
	      &:hover {
	         color: $highlight;
	      }

	   }
	   
	}
}





@media only screen and (max-width: 768px) {
	#main_nav {
		display: none;
	}

	.menu {
	   display: block;
	   float: right;
	}

	.menu i {
	   font-size: 1.5em;
	   padding-top: .6em;
	   color: black;
	}
	
	#main_nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 1em 0;
			border-bottom: 1px solid #E9E9E9;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}