/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


$dark: #424652;
$white: #FFFFFF;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$front: #efefe5;

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}



* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.skinny_wrapper {
	width: 85%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper_padding {
	padding-top: 40px;
}



h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#top_header {
	padding: 1.5em 0;
	border-bottom: shadow;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.20em;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: $dark;
		span {
			font-weight: 300;
			color: $highlight;
		}
	}

	#main_nav {
		float: right;
		font-size: 1em;
		padding-top: 1em;
		a {
			color: $dark;
			text-decoration: none;
			margin-left: 1em;
		}
	}
}

#search-form {
	display: inline;
	padding-left: 1em;
}

#search {
	width: 29%;
	height: 2.25em;
}

#page_title {
	text-align: center;
	font-size: 2.5rem;
	border-bottom: 1px solid $border;
	padding: 2em 0;
}

.menu {
	display: none;
}

#banner {
    background-image: image-url("asos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 974px;
    height: 556px;
    max-width: 90%;
    margin: 0 auto 50px auto;
    position: relative;
}

#content {
	top: 35%;
	position: absolute;
	padding-left: 74px;
	h2 {
	  color: $front;
	  font-size: 50px;
	  line-height: 64px;
	  letter-spacing: 0;
	  font-weight: bold;
	}
	.btn-secondary {
	   background: $white;
	   color: $dark;
	   font-size: 16px;
	   font-weight: bold;
	   letter-spacing: 2px;
	   line-height: 22px;
       padding: 9px 18px;
       border: 2px solid $dark;
       transition-duration: 0.4s;
	}
	.btn-secondary:hover {
		background-color: $dark;
	    color: white;
	 }
}

#feature {
	width: 974px;
	position: relative;
	margin: 0 auto 50px auto;
		.moment_wrapper {
		  width: 460px;
		  float: left;
		  display: block;
		  margin: 0 13px;
		  box-sizing: border-box;
		  text-align: center;
	}
	.btn-secondary {
	   background: $white;
	   color: $dark;
	   font-size: 16px;
	   font-weight: bold;
	   letter-spacing: 2px;
	   line-height: 22px;
       padding: 8px 16px;
       border: 2px solid $dark;
       transition-duration: 0.4s;
	}
	.btn-secondary:hover {
		background-color: $dark;
	    color: white;
	 }
}

#style_blog {
    margin: 0 auto 50px auto;
    width: 974px;
    text-align: left;
    background: rgba(0, 0, 0, 0.07);
    position: relative;
    clear: both;
    box-sizing: border-box;
    height: 574px;
     h2.style_title {
      text-align: center;
      font-weight: 700;
	  letter-spacing: 2px;
	  line-height: 35px;
	  color: $dark;
	  height: 30px;
	  font-size: 26px;
    }
     p.style_paragraph {
       text-align: center;
       font-size: 18px;
       letter-spacing: 0.5px;
       line-height: 27px;
       margin-bottom: 20px;
       padding: 2px 0;
     }


    .style_content {
        float: left;
	    margin: 0 auto 0 1.9%;
	    box-sizing: border-box;
        background: $white;
        height: 443px;
        position: relative;
    }
    .moment_text {
        padding: 13px 11px;
     }
    .date {
        float: right;
        margin-right: 10px;
        color: $dark;
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        bottom: 5px;
        right: 10px;
     }
}

#core-product {

  width: 100%;
  float: left;
  display: block;
  .image-content {
    width: 58%;
    position: relative;
    float: left;
    box-sizing: border-box;
		padding-left: 80px;
		padding-bottom: 40px;
		margin-right: 10px;
		.img-thumbnail {
			width: 425px;
		}
  }
  .text-content {
		width: 39%;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
		h2.product_name {
			font-family: 'PT Sans', sans-serif;
	    font-style: normal;
	    font-weight: 400;
	    font-size: 18px;
	    line-height: 1.3;
	    letter-spacing: 1.3px;
	    max-width: 90%;
	    padding-bottom: 5px;
	  }
		h3.product_price {
			font-size: 16px;
			line-height: 1.1;
			letter-spacing: 1.7px;
			font-family:'PT Sans', sans-serif;
			font-style: normal;
			font-weight: 700;
			color: #555;
			padding-right: 5px;
			}
			.product_color {
		    color: #2D2D2D;
				line-height: 1.7;
		    letter-spacing: 1.7px;
		    text-transform: uppercase;
		    padding-right: 6px;
				h3 {
		    font-size: 12px;
				display: inline-block;
			  }
				p {
					display: inline-block;
					font-size: 10.5px;
					font-weight: bold;
				}
		  }
			.product_size {
				color: #2D2D2D;
				line-height: 1.7;
		    letter-spacing: 1.7px;
		    text-transform: uppercase;
		    padding-right: 6px;
		    font-size: 12px;
			}
		  .product_description {
				padding-top: 20px;
		    padding-right: 40px;
		    line-height: 1.7em;
		    letter-spacing: 0.08em;
				font-family:'PT Sans', sans-serif;
				font-style: normal;
				font-weight: 400;
		  }
		}
		.comment-form {
			width: 75%;
			max-width: 680px;
			margin: 0 auto;
			padding-left: 40px;
			display: inline-block;
		}
  }



input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 80%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea {
	min-height: 20em;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	padding: 0.8em 1.5em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}

label {
	display: block;
}



#main_footer {
	padding: 2.5em 0;
	text-align: center;
	.logo {
	   text-transform: uppercase;
	   font-size: 1.15em;
	   font-weight: 700;
	   letter-spacing: 0.05em;
	}

	.logo span {
	   font-weight: 300;
	   color: $highlight;
	}
	.copyright{
	    margin: 0;
	    color: $dark;
	    font-size: .85em;
	}
}


@media only screen and (max-width: 768px) {
	#main_nav {
		display: none;
	}
	#main_nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 1em 0;
			border-bottom: 1px solid #E9E9E9;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.menu {
		display: block;
		float: right;
		i {
			font-size: 1.1em;
			color: $dark;
			padding-top: 1.2em;
		}
	}
	#top_header .logo {
	   font-size: 1em;
	}

	#banner {
	  background-image: image-url("asos.jpg");
	  max-width: 90%;
      height: 460px;
	}
	#content h2 {
	    font-size: 32px;
	    line-height: 44px;
	}
	#content .btn-secondary {
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 22px;
	    padding: 6px 14px;
	}
	#feature {
	  max-width: 90%;
      height: 460px;
		.moment_wrapper {

	  }
	.btn-secondary {
	   font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 22px;
	    padding: 6px 14px;
	}
	.btn-secondary:hover {
		background-color: $dark;
	    color: white;
	 }
}

}


@media only screen and (max-width: 575px) {
    #top_header {
	    padding: 1.1em 0;
	    border-bottom: shadow;
	}
    #main_nav {
		display: none;
	}
	#main_nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 0.8em 0;
			border-bottom: 1px solid #E9E9E9;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.menu {
		display: block;
		float: right;
		i {
			font-size: 1em;
			color: $dark;
			padding-top: 1.2em;
		}
	}
	#top_header .logo {
	   font-size: 1em;
	}
	#banner {
	  background-image: image-url("asos.jpg");
	  max-width: 90%;
      height: 360px;
	}
	#content h2 {
	    font-size: 24px;
	    line-height: 34px;
	}
	#content .btn-secondary {
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 22px;
	    padding: 6px 14px;
	}

	#feature {
	  max-width: 90%;
      height: 460px;
		.moment_wrapper {

	  }
	.btn-secondary {
	   font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 22px;
	    padding: 6px 14px;
	}
	.btn-secondary:hover {
		background-color: $dark;
	    color: white;
	 }
 }
}
